<div class=""></div>
<div class="app-container">
  
  <div class="container center">
    <img src="../assets/images/R.png" alt="" width="15%">
  </div>
  <nav>
    <a [routerLink]="['/characters']" routerLinkActive="active">Characters</a>
    <a [routerLink]="['/films']" routerLinkActive="active">Films</a>
    <a [routerLink]="['/planets']" routerLinkActive="active">Planets</a>
    <a [routerLink]="['/species']" routerLinkActive="active">Species</a>
    <a [routerLink]="['/starships']" routerLinkActive="active">Starships</a>
    <a [routerLink]="['/vehicles']" routerLinkActive="active">Vehicles</a>
  </nav>
  <router-outlet></router-outlet>
</div>
