
<div class="character-list-container">
    <div class="search-container">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search by name" />
      <button class="search-button" (click)="onSearch()">Search</button>
    </div>
  
    <div class="character-list">
      <div *ngFor="let specie of species" class="character-item">
        <a [routerLink]="['/specie', specie.url]" class="character-link">
          <div class="character-info">
            <span class="character-name">{{ specie.name }}</span>
          </div>
        </a>
      </div>
    </div>
  
    <div class="pagination">
      <span (click)="onPageChange(currentPage - 1)" [style.color]="currentPage === 1 ? '#999' : '#a8ad20'"
        [style.cursor]="currentPage === 1 ? 'not-allowed' : 'pointer'">Previous</span>
      <span>{{ currentPage }}</span>
      <span (click)="onPageChange(currentPage + 1)" [style.color]="species.length === 0 ? '#999' : '#a8ad20'"
        [style.cursor]="species.length === 0 ? 'not-allowed' : 'pointer'">Next</span>
    </div>
  </div>
  